CONTROL_API_TOKEN=replace-with-long-random-token
CORS_ORIGINS=https://YOUR_GITHUB_PAGES_OR_STUDIO_DOMAIN

YESSTREAMING_HOST=ec1.yesstreaming.net
YESSTREAMING_PORT=2720
YESSTREAMING_USER=source
YESSTREAMING_PASSWORD=
YESSTREAMING_MOUNT=/stream

MIC_HARBOR_PASSWORD=replace-with-another-long-random-password
